{
  "env": {
    "es6": true
  },
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "env": {
        "jest": true,
        "browser": false,
        "node": true
      }
    }
  ]
}
