/node_modules
/lerna-debug.log
/yarn-error.log

/coverage

/packages/copr-field/lib
/packages/copr-field/node_modules
/packages/copr-field-demo/.cache
/packages/copr-field-demo/dist
/packages/copr-field-react/lib
/packages/copr-field-react/node_modules